**A. What Are Variables?**

Variables in Python are containers for storing data values. They provide a way to label and store data in memory so you can refer to it easily later in your program.

**B. How to Declare Variables?**

You simply use an assignment operator (=) to assign a value to a variable.

**C. Rules for Naming Variables**

1. Variable names must start with a *letter* or an *underscore* (_).
2. Variable names *cannot start with a number*.
3. Variable names can only contain *alphanumeric characters and underscores* (A-Z, a-z, 0-9, _).
4. Variable names are *case-sensitive* (*Age* and *age* are different).

**D. Data Types in Python**

Python supports various data types. Each type is used to store specific kinds of data.

***1. Numeric Data Types***

- *int*: Integer values (e.g., 1, 100, -10).
- *float*: Decimal or floating-point values (e.g., 3.14, -2.5).
- *complex*: Complex numbers (e.g., 3 + 5j).

In [3]:
# Integer
x = 10
print("x is of type:", type(x))  # Output: <class 'int'>

# Float
y = 3.14
print("y is of type:", type(y))  # Output: <class 'float'>

# Complex
z = 1 + 2j
print("z is of type:", type(z))  # Output: <class 'complex'>

x is of type: <class 'int'>
y is of type: <class 'float'>
z is of type: <class 'complex'>

***2. String Data Type***

- *str*: Used to store text (enclosed in *single*, *double*, or *triple* quotes).

In [4]:
# Single and double quotes
name = "Yaser"
greeting = 'Hello'

# Triple quotes for multiline strings
paragraph = """This is
a multiline
string."""

print(name)       # Output: Yaser
print(greeting)   # Output: Hello
print(paragraph)

Yaser
Hello
This is
a multiline
string.

***3. Boolean Data Type***

- *bool*: Used to represent True or False.

In [6]:
is_active = True
is_logged_in = False

print(type(is_active))  # Output: <class 'bool'>

<class 'bool'>

**4. Sequence Data Types**

- *list*: Ordered and mutable collection (e.g., [1, 2, 3]).
- *tuple*: Ordered and immutable collection (e.g., (1, 2, 3)).
- *range*: Represents a sequence of numbers.

In [7]:
# List
numbers = [1, 2, 3, 4]
print("List:", numbers, "Type:", type(numbers))  # Output: <class 'list'>

# Tuple
coordinates = (10.0, 20.0)
print("Tuple:", coordinates, "Type:", type(coordinates))  # Output: <class 'tuple'>

# Range
r = range(5)
print(list(r))  # Output: [0, 1, 2, 3, 4]

List: [1, 2, 3, 4] Type: <class 'list'>
Tuple: (10.0, 20.0) Type: <class 'tuple'>
[0, 1, 2, 3, 4]

***5. Mapping Data Type***
- *dict*: A collection of key-value pairs (e.g., {"key": "value"}).

In [8]:
person = {"name": "Yaser", "age": 30}
print("Dictionary:", person, "Type:", type(person))  # Output: <class 'dict'>

Dictionary: {'name': 'Yaser', 'age': 30} Type: <class 'dict'>

***6. Set Data Types***

- *set*: Unordered collection of unique elements (e.g., {1, 2, 3}).
- *frozenset*: Immutable version of a set.

In [9]:
# Set
unique_numbers = {1, 2, 3, 3}
print("Set:", unique_numbers, "Type:", type(unique_numbers))  # Output: {1, 2, 3}

# Frozenset
fs = frozenset({1, 2, 3})
print("Frozenset:", fs, "Type:", type(fs))  # Output: frozenset({1, 2, 3})

Set: {1, 2, 3} Type: <class 'set'>
Frozenset: frozenset({1, 2, 3}) Type: <class 'frozenset'>

***7. None Type***
    
- *None*: Represents the absence of value or a null value.

In [11]:
x = None
print("x is:", x, "Type:", type(x))  # Output: <class 'NoneType'>

x is: None Type: <class 'NoneType'>

**Type Conversion**

You can convert between different data types using built-in functions.

In [13]:
# Integer to String
x = 10
x_str = str(x)
print(x_str, type(x_str))  # Output: '10' <class 'str'>

# String to Integer
y = "20"
y_int = int(y)
print(y_int, type(y_int))  # Output: 20 <class 'int'>

# Integer to Float
z = 5
z_float = float(z)
print(z_float, type(z_float))  # Output: 5.0 <class 'float'>

10 <class 'str'>
20 <class 'int'>
5.0 <class 'float'>

**E. Best Practices for Variables and Data Types**

- Use descriptive names: Avoid names like x, y unless in simple examples.
- Stick to a consistent naming convention: e.g., snake_case.
- Be mindful of the type of data a variable holds.